@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
.container {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.form-input {
  width: calc(100% - 10rem);
}

/* Alert Styles */
.centered-alert {
  @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-white p-5 rounded-lg shadow-md;
}

.alert-content {
  @apply flex flex-col items-center justify-center;
}

.alert-content img {
  @apply mt-5 mb-5 w-16 h-16;
}

/* General Styles */
html, body {
  @apply w-full h-full m-0 font-sans;
}

body {
  background-color: #0164a7;
  animation: gradient 15s infinite;
  margin: 0 120px; /* margin-left and margin-right */
}

/* @keyframes gradient {
  0%, 100% {
    background: linear-gradient(to right, blue, purple);
    background-size: 200% 100%;
    background-position: 0% 50%;
  }
  50% {
    background: linear-gradient(to right, red, yellow, orange);
    background-size: 200% 100%;
    background-position: 0% 50%;
  }
} */

/* Search Form Styles */
.search-form {
  @apply mt-5 flex justify-center items-center;
}

.search-input {
  @apply w-80 px-3 py-2 rounded-l border border-gray-300 outline-none;
}

.search-btn {
  @apply bg-transparent border-none cursor-pointer px-4 py-2 rounded-r transition duration-300;
}

.search-btn:hover {
  @apply bg-gray-200;
}

/* Export Button Styles */
.export-btn {
  @apply mt-5;
}
